{% extends 'layout/base.html' %} {% block content %}
<div class="container">
  <h1>{{title}}</h1>
  <nav>
    <a href="{% url 'principal' %}">Volver</a>
  </nav>
  <div class="duenios container">
    <details>
      <summary>Dueños</summary>
      <ul class="duenios-list">
        {% for duenios in duenios %}
        <details>
          <summary>{{duenios.nombre}}</summary>
          <ul class="mascotas-list">
            {% for mascotas in mascotas %} {% if mascotas.duenio.id ==
            duenios.id %}
            <details>
              <summary>{{mascotas.nombre}}</summary>
              <ul class="citas-list">
                {% for citas in citas %} {% if mascotas.id == citas.mascota_id
                %}
                <div class="info-container">
                  <h4>Info de Cita</h4>
                  <p>
                    <strong>Dia:</strong> {{citas.fecha}}
                    <strong>Hora:</strong> {{citas.hora}}
                  </p>
                  <p>
                    <strong>Medico Asignado:</strong> {{citas.medico.nombre}}
                    <strong>Especialidad:</strong> {{citas.medico.especialidad}}
                  </p>
                </div>
                {% endif %} {% endfor %}
              </ul>
            </details>
            {% endif %} {% endfor %}
          </ul>
        </details>
        {% endfor %}
      </ul>
    </details>
  </div>
</div>

{% endblock %}
